@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
  @apply w-full;
}
body {
  @apply h-full;
  @apply w-full;
}
div#root {
  @apply h-full;
  @apply w-full;
  
}
main {
  @apply h-full;
  @apply w-full;
}